* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    flex-shrink: 1;

    background: linear-gradient($bg-color 0%, $link-hover-bg 100%);
}

header {
    flex-grow: 0;
    flex-shrink: 0;
}

main {
    max-width: 1440px;
    margin: auto;

    flex-grow: 1;
    flex-shrink: 1;
}

footer {
    flex-basis: 3rem;
    flex-grow: 0;
    flex-shrink: 0;
}
