$bg-color: #b764d4;
$bg-header: #ac3bd4;
$text-color: #fff;
$link-color: #fff;
$link-hover-color: #fff;
$link-hover-bg: #52026e;
$border-radius: 0.25rem;
$border-color: #7e07a9;
$border-width: 2px;

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
