.rozklad {
    border: 1px solid black;
    border-collapse: collapse;

    &__th {
        border: 1px solid black;
    }

    &__td {
        border: 1px solid black;
        text-align: center;
    }
}
